<footer class="bg-[#444] mt-6 flex items-center pt-4">

    <div class="container_width flex flex-col sm:flex-row justify-between items-center">

        <div class="w-12 h-12 md:w-20 md:h-20 flex items-center">
            <img class="block" src="{{url_for('static', filename='public/logo-white.png' )}}" alt="" srcset="">
        </div>
        <div class="text-2xl text-white tracking-wider">
            
            <div class="flex flex-wrap flex-col py-4">
                <div class="flex flex-wrap item text-xl md:text-2xl justify-between">
                <a class="mr-4 sm:mr-6" href="/">About us</a>
                <a class="mr-4 sm:mr-6" href="/">Download apps</a>
                <a class="mr-4 sm:mr-6" href="/">Become a guide</a>
                <a class="mr-4 sm:mr-6" href="">Careers</a>
                <a href="">Contact</a>

                </div>
                <div class="py-3 capitalize text-xl md:text-2xl self-end">
                    <p>&copy; by daniel conteh. all right reserved.</p>
                </div>
            </div>

        </div>
    </div>

</footer>