<header class="bg-[#444] flex items-center">
    <div class="container_width flex justify-between items-center py-4 sm:py-0">

        <a href='/' class="text-xl sm:text-2xl text-white tracking-wider uppercase">all tours</a>
        <div class="w-12 h-12 md:w-20 md:h-20 flex items-center">
            <img class="block" src="{{url_for('static', filename='public/logo-white.png' )}}" alt="" srcset="">
        </div>
        <a href='/' class="text-xl sm:text-2xl text-white tracking-wider uppercase">&nbsp;</a>
    </div>
</header>